h1 {
    color: #54585a;
    font-weight: bolder;
}

input {
    display: flex;
    flex-direction: column;
}

.inputNumber{
    border: none;
    background-color: lightgrey;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.btn{
    border: none;
    background: none;
    background-color: rgb(57, 237, 219);
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.clue, .attempts{
    border: solid;
    border-color: lightgrey;
    border-width: 4px;
}